*.pyc
js/src/build-ios/
js/src/configure
.DS_Store

# android temporary build files
js/src/build-android/
js/src/autom4te.cache/

# build output
dist/

# hg stuff
.hg
.hgignore
.hgtags

# rest of the mozilla-central source
Makefile.in
README.txt
aclocal.m4
allmakefiles.sh
client.mk
client.py
configure.in
accessible/
b2g/
browser/
build/
caps/
chrome/
client.mk/
client.py/
config/
content/
db/
dbm/
docshell/
dom/
editor/
embedding/
extensions/
gfx/
hal/
image/
intl/
ipc/
layout/
media/
memory/
mobile/
modules/
mozglue/
netwerk/
other-licenses/
parser/
probes/
profile/
rdf/
security/
services/
src/
startupcache/
storage/
testing/
tools/
toolkit/
uriloader/
view/
widget/
xpcom/
xpfe/
xulrunner/
